Q1. Create one variable containing following type of data:

In [1]:
s ="string"

In [3]:
type(s)

str

In [4]:
l = [1,2, "aa", 4.5]
type(l)

list

In [5]:
f = 4.5

In [6]:
type(f)

float

In [9]:
t = (4,5, "tuple")

In [10]:
type(t)

tuple

Q2. Given are some following variables containing data:

In [11]:
var1=''

In [12]:
type(var1)

str

In [15]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [16]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [17]:
type(var3)

list

In [18]:
var4 =1.

In [19]:
type(var4)

float

Q3. Explain the use of the following operators using an example:

"/" Division operator

In [20]:
5/4

1.25

"%" modulus operator return reminder

In [21]:
5%4

1

"//" gives quotient value on divison

In [25]:
7//4

1

"**" return exponential value like 2 raise to 3 = 8

In [26]:
2**3

8

In [27]:
5**4

625

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [32]:
l = [1,2.0,"string", 5+6j, True, False, ("a","b",4), 8,9, 10]

In [33]:
for x in l:
    print(x)

1
2.0
string
(5+6j)
True
False
('a', 'b', 4)
8
9
10

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [6]:
A=int(input())
B=int(input())
while B > 0 and A%B==0 :
    print("Fully divisible times=")
    print(A//B)
    break
else :
    print("Number not fully divisible")

 10
 2

Fully divisible times=
5

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [11]:
l = range(25)

In [12]:
for i in l:
    if i> 0 and i%3 == 0 :
        print(str(i) + " divisible 3")

3 divisible 3
6 divisible 3
9 divisible 3
12 divisible 3
15 divisible 3
18 divisible 3
21 divisible 3
24 divisible 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

mutable -> value can be updated, 
immutable -> value cannot be updated but it can be replaced

In [15]:
s = "abcd"
s[1] = "x" # cannot be updated

TypeError: 'str' object does not support item assignment

In [17]:
s = "xyzs" #value can be replaced
print(s)

xyzs

In [19]:
l = ['a','b','c','d'] 
l[1] = 'M'
print(l) # value updated in list (mutable)

['a', 'M', 'c', 'd']